[Unit]
Description=Red Pitaya Bazaar Homepage
After=network.target

[Service]
Type=simple
ExecStartPre=/bin/mkdir -p /media/mmcblk0p1
ExecStartPre=/bin/ln -sf /var/www/apps /media/mmcblk0p1/apps
ExecStart=/usr/bin/tcpserver -H -l 0 0 80 /var/www/apps/server/server 122
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
